body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, "Times New Roman", serif;
    color: #4a4748;
}

.navbar-dark {
    background-color: lightskyblue; !important;
    color: floralwhite;
}

.nav-item-right {
    text-align: right;
}
.jumbotron {
    background: lightskyblue;
    padding: 80px 3% 3% 3%;
    color: floralwhite;
}

.navbar-brand img {
    margin-left: 1rem;
}

#personal-intro {
    display: inline-block;
    width: 60%;
}

#contact-me-button {
    display: inline-block;
    width: 39%;
}

#contact-me-button img {
    display: block;
    margin-bottom: 5%;
    margin-left: 20%;
}

#contact-me-button a{
    display: block;
    margin-left: 27%;
    width: 25%;
}

#detailed-intro {
    display: inline-block;
    width: 30%;
    float: left;
    margin-left: 20%;
    margin-bottom: 3%;

}

#profile-detailed-intro {
    display: inline-block;
    width: 40%;
    margin-left: 10%;
    max-width: 300px;
    margin-top: 3%;
}

section {
    margin: 3% 3% 3% 3%
}

hr {
    width: 80%;
    margin-left: 10%;
}

#education, #experience, #contactme {
    display: inline-block;
    width: 60%;
    margin-left: 20%;
}

.tabs {
    height:400px;
    padding:30px 20px;
    overflow:hidden;
}

.tabs .tab-header {
    float:left;
    width:180px;
    height:100%;
    border-right:1px solid #ccc;
    padding:50px 0;
}

.tabs .tab-header > div {
    height:50px;
    line-height:50px;
    font-size:16px;
    font-weight:550;
    color:#888;
    cursor:pointer;
    padding-left:10px;
}
.tabs .tab-header > div:hover,
.tabs .tab-header > div.active {
    color:#00acee;
}

.tabs .tab-header div i {
    display:inline-block;
    margin-left:10px;
    margin-right:5px;
}
.tabs .tab-content {
    position:relative;
    height:100%;
    overflow:hidden;
}
.tabs .tab-content > div > i {
    display:inline-block;
    width:50px;
    height:50px;
    background:#555;
    color:#f5f5f5;
    font-size:25px;
    font-weight:600;
    text-align:center;
    line-height:50px;
    border-radius:50%;
}
.tabs .tab-content > div {
    position:absolute;
    text-align:center;
    padding:40px 20px;
    top:-200%;
    transition:all 500ms ease-in-out;
}
.tabs .tab-content > div.active {
    top: 0;
}

.tabs .tab-indicator {
    position:absolute;
    width:4px;
    height:50px;
    background:#00acee;
    left:198px;
    top:80px;
    transition:all 500ms ease-in-out;
}

h5 {
    display: inline-block;
}

.job-description {
    text-align: left;
    list-style-type: '👉';
}

.get-in-touch {
    text-align: center;
}

.get-in-touch > * {
    margin-top: 5%;
}

.contact-form, .social-media, .social-media-text {
    display: inline-block;
    width: 60%;
    margin-top: 10%;
    margin-left: 20%;
}

.contact-form .form-group {
    margin-bottom: 2%;
}

.social-media {
    margin-top: 0;
}

.social-media-text {
    margin-top: 4%;
    text-align: center;
}

footer {
    background-color: lightskyblue;
    margin-top: 10%;
    padding: 20px 0;
}

.carousel {
    width: 70%;
    margin-left: 15%;
    margin-top: 10%;
    border: 2px #00acee solid;
}

.carousel-item {
    height: 32rem;
    background-color: #777;
    color: white;
    position: relative;
}

.carousel-caption {
   font-weight: bolder;
}

.carousel-indicators {
    position: absolute;
    top: 50px;
    right: 50px;
}
.carousel-indicators li {
    background-color: #999;
    background-color: rgba(70, 70, 70, 0.25);
}

.carousel-indicators .active {
    background-color: #444;
}
